body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    position: relative;
    overflow: hidden;
}

.welcome-text {
    font-size: 3em;
    animation: changeText 10s infinite;
}

@keyframes changeText {
    0% { content: "Zpherion'a Hoşgeldiniz!"; }
    25% { content: "Welcome to Zpherion!"; }
    50% { content: "Bienvenido a Zpherion!"; }
    75% { content: "Bienvenue à Zpherion!"; }
}

.content-section {
    padding: 50px 20px;
    background-color: white;
    color: black;
    transition: background-color 1s, color 1s;
}

.nav-links {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.nav-link {
    margin: 0 15px;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover {
    color: gray;
}

section {
    margin-bottom: 50px;
    text-align: center;
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

section p {
    font-size: 1.2em;
}
